@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&family=Yanone+Kaffeesatz:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@font-face {
  font-family: "ArcadeClassic";
  src: url("/fonts/arcade/ARCADECLASSIC.TTF");
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #cbd5e0;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2d3748;
}

.scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #1a202c;
}
body {
  font-family: "Merriweather Sans", sans-serif;
  overflow-x: hidden;
}
.backto-shadow {
  filter: drop-shadow(2px 3px 4px rgb(0 0 0 / 0.6));
}
.dpshadow-small {
  filter: drop-shadow(2px 3px 6px rgb(0 0 0 / 0.6));
}
.husky {
  filter: drop-shadow(5px 8px 6px rgb(0 0 0 / 0.6));
}
.wrapper {
  width: 150px;
  height: 150px;
  /* position: fixed; */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.item {
  width: inherit;
  height: inherit;
  background: white;
  transform-origin: 50% 100%;
}

.red-body {
  background-color: #db192a;
}
.light-red-body {
  background-color: #e2727c;
}
.ql-container.ql-snow {
  border: none;
  width: 750px;
  overflow: scroll;
}
.graph-container {
  position: relative;
}

.radar-chart {
  fill: rgba(0, 123, 255, 0.5);
  stroke: rgba(0, 123, 255, 0.8);
  stroke-width: 2px;
  filter: url(#glow);
}

.axis-line {
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 1px;
}

.axis-label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  fill: #fff;
}
.st0 {
  fill: #db192b;
}
.st1 {
  fill: #020202;
}
.st2 {
  fill: #ffffff;
}

@keyframes glow-animation {
  0% {
    filter: drop-shadow(0 0 10px rgba(0, 123, 255, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(0, 123, 255, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(0, 123, 255, 0.5));
  }
}

#glow {
  animation: glow-animation 2s infinite;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}

.flashcards {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center center;
  background: #4da6ff;
}
.flashcards__container {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  perspective: 150px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.flashcards__container::-webkit-scrollbar {
  display: none;
}
.flashcards .card {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 80px;
  background: white;
  margin: 2rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}
.flashcards .card:first-of-type {
  margin-left: 15rem;
}
.flashcards .card:last-of-type {
  margin-right: 15rem;
}
